GXPEngineShare/.vs/GXPEngine/v16/Server/sqlite3/storage.ide
GXPEngineShare/.vs/GXPEngine/v16/Server/sqlite3/db.lock
GXPEngineShare/.vs/GXPEngine/v16/Server/sqlite3/storage.ide-shm
GXPEngineShare/.vs/GXPEngine/v16/Server/sqlite3/storage.ide-wal
GXPEngineShare/.vs/GXPEngine/v16/.suo
GXPEngineShare\GXPEngine\bin\Debug\GXPEngine.exe
GXPEngineShare\GXPEngine\bin\Debug\GXPEngine.pdb
GXPEngineShare\GXPEngine\obj\x86\Debug\GXPEngine.exe
GXPEngineShare\GXPEngine\obj\x86\Debug\GXPEngine.pbj
